<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index_style.css" type="text/css">
  <title>Schedule builder</title>
</head>
<body>
  <h1>Schedule builder Display</h1>
  <div id="horario">
    <div id="diasDiv"> </div>
    <div id="opciones">
      <input type="color" id="favcolor" name="favcolor" value="#ff0000">
      Materia:

      grupo:
      <select name="cars" id="cars2">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
    </div>
    <div id="divHoras"></div>
    <div id="grupos"></div>
  </div>

  <div>
    <input id="message" placeholder="Message">
    <button id="send" disabled="true">Send</button>
  </div>
  <div id="messages">
  </div>

</body>

<!-- <script>
  var dias = ["lunes", "martes", "miércoles", "jueves", "viernes", "sábado", "domingo"]

  function createElementById(elem, id){
    var newElem = document.createElement(elem);
    newElem.id = id;
    return newElem;
  }

  function createHorario() {
    diasDiv.className = "columns7";
    horario.append(diasDiv);
    for (dia of dias) {
      let divDia = document.createElement("div");
      divDia.innerText = dia;
      diasDiv.append(divDia);
    }

    divHoras.className = "rows28";
    horario.append(divHoras);
    for(let j = 1; j <= 28; j++) {
      let divHora = document.createElement("div");
      let hora = 7 + ((j-1)*.5);
      divHora.innerText = hora;
      divHora.className = "miPadding";
      divHoras.append(divHora);
    }
  }

  function createGrupo(grupo, name, color, zindex) {
    var divGrupo = document.createElement("div");
    divGrupo.id = name; //grupo.name;
    divGrupo.className = "grupo columns7 rows28";

    for(let j = 1; j <= 28; j++) {
      for (let i = 0; i < 7; i++) {
        let casilla = document.createElement("div");
        let curr_dia = dias[i].substring(0,2).replace('á', 'a')
        let id_casilla = name+curr_dia+j;
        casilla.id = id_casilla;
        if(grupo.horario[curr_dia][j+15]) {
          casilla.className = "hora "+color;
        } else {
          casilla.className = "hora transparente";
        }
        casilla.innerText = j;
        divGrupo.append(casilla);
      }
    }
    return divGrupo;
  }
</script> -->

<script src = "/socket.io/socket.io.js"> </script>
<script type="text/javascript" src = "/js/html_builder.js" /> </script>
<script type="text/javascript" src = "/Grupo.js" /> </script>
<script type="text/javascript" src = "/js/index.js" /> </script>
</html>
