<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index_style.css" type="text/css">
  <title>Schedule builder</title>
</head>
<body>
  <h1>Schedule builder Display</h1>
  <div id="horario">
    <div id="diasDiv"> </div>
    <div id="opciones">
      <input type="color" id="favcolor" name="favcolor" value="#ff0000">
      Materia:

      grupo:
      <select name="cars" id="cars2">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
    </div>
    <div id="divHoras"></div>
    <div id="grupos"></div>
  </div>

  <div>
    <input id="message" placeholder="Message">
    <button id="send" disabled="true">Send</button>
  </div>
  <div id="messages">
  </div>

</body>

<script src = "/socket.io/socket.io.js"> </script>
<script type="text/javascript" src = "/js/html_builder.js" /> </script>
<script type="text/javascript" src = "/Grupo.js" /> </script>
<script type="text/javascript" src = "/js/index.js" /> </script>
</html>
