<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index_style.css" type="text/css">
  <title>Schedule builder</title>
</head>
<body>
  <h1>Schedule builder maker</h1>
  <div id="horario">

  <div id="diasDiv"> </div>
  <div id="divHoras"></div>
  <div id="grupos"></div>

  <div id="opciones">
    <div>
      <input id="readFile" placeholder="Nombre archivo">
      <button id="read" disabled="true">Leer</button>
    </div>

    <br><br> <!-- Borrar -->
    Materia
    <select id="selectMateria">
    </select>
    <div>
      <input id="nuevaMateria" placeholder="Materia nueva">
      <button id="addMateria">+</button>
      <button id="delMateria">-</button>
    </div>

    <br><br> <!-- Borrar -->
    Grupo
    <select id="selectGrupo">
    </select>
    <div>
      <input id="nuevoGrupo" placeholder="Grupo nuevo">
      <button id="addGrupo">+</button>
      <button id="delGrupo">-</button>
    </div>

    <br><br> <!-- Borrar -->
    <div>
      <button id="save" disabled="true">Guardar</button>
    </div>
  </div>
  <div id="messages"> </div>

</body>

<!-- <script>
  var table = document.getElementById("horario");

  var dias = ["lunes", "martes", "miércoles", "jueves", "viernes", "sábado", "domingo"]
  table.append(document.createElement("div"));
  for (dia of dias) {
    let divDia = document.createElement("div");
    divDia.innerText = dia;
    table.append(divDia);
  }

  for (let j = 1; j <= 28; j++) {
    let divHora = document.createElement("div");
    let hora = 7 + ((j-1)*.5);
    divHora.innerText = hora;
    table.append(divHora);

    for (let i = 0; i < 7; i++) {
      let casilla = document.createElement("div");
      let id_casilla = dias[i].substring(0,2).replace('á', 'a')+j;
      // let id_casilla = dias[i].replace('á', 'a')+j;
      casilla.className = "hora gris ";
      casilla.id = id_casilla;
      // casilla.innerText = j;
      table.append(casilla);
    }
  }
</script> -->
<script src = "/socket.io/socket.io.js"> </script>
<script type="text/javascript" src = "/js/html_builder.js" /> </script>
<script type="text/javascript" src = "/Grupo.js" /> </script>
<script type="text/javascript" src = "/js/new_subject_js.js" /> </script>
</html>
