:root {
  --yellow: #ffc600;
}

html {
  box-sizing: border-box;
  font-family: roboto;
  height: 100vh;
}

body {
  margin: 4%;
}

h1 {
  border-bottom: 10px solid var(--yellow);
}
#horario {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 7fr 3fr;
  grid-template-rows: 1fr 28fr;
  grid-template-areas:
    ". diasDiv ."
    "divHoras grupos opciones";
}

.columns7 {
  display: grid;
  /* grid-gap: 5px; */
  grid-template-columns: repeat(7, 1fr);
}
.rows28 {
  display: grid;
  /* grid-gap: 5px; */
  grid-template-rows: repeat(28, 1fr);
}
#divHoras {
  grid-area: divHoras;
}
#diasDiv {
  grid-area: diasDiv;
}
#opciones {
  grid-area: opciones;
}
#grupos {
  grid-area: grupos;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: #000C;
}
.grupo {
  /* Children grid */
  grid-area: 1 / 1;
}
.materiaHolder {
  grid-area: 1/1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.hora {
  /* background-color: #5099BB; */
  color: #FFF;
  padding: 4px;
}
.miPadding {
  padding: 4px;
}

.azul {
  background-color: #5099BB80;
}
.verde {
  background-color: #50AA2080;
}
.negro {
  background-color: #1118;
}
.gris {
  background-color: #8888;
}
.blanco {
  background-color: #FFF8;
}
.rojo {
  background-color: #F008;
}
.transparente {
  background-color: #FFF0;
}
